<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193402559638-n1f0jhds7kuc67sp5qvl5p7gh9p6u3h6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193402559638-n1f0jhds7kuc67sp5qvl5p7gh9p6u3h6</string>
	<key>API_KEY</key>
	<string>AIzaSyCj0Z17wwAMdSQn4EFk4x4iJZccS7FRowo</string>
	<key>GCM_SENDER_ID</key>
	<string>193402559638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idubs.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-a4586</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-a4586.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193402559638:ios:9ba990fa7f7321bc9876b7</string>
	<key>DATABASE_URL</key>
	<string>https://artable-a4586.firebaseio.com</string>
</dict>
</plist>